* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: #f1f1f1;
  --second-bg-color: #000;
  --text-color: #fff;
  --main-color: orangered;
}

html {
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 12%;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 35px;
  color: white;
  font-weight: 600;
  transition: 0.5s ease;
}

.logo:hover {
  color: orangered;
  text-shadow:
    0 0 25px orangered,
    0 0 50px orangered;
  transform: scale(1.1);
}

span {
  color: var(--main-color);
}

.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 600;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: orangered;
  border-bottom: 3px solid orangered;
}

#menu-icon {
  font-size: 3.6rem;
  color: white;
  display: none; /* Hidden on Desktop */
  cursor: pointer;
}

.contact {
  padding: 10px 25px;
  background: white;
  color: black;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.5s;
}

.contact:hover {
  background: var(--main-color);
  color: white;
  box-shadow: 0 0 20px var(--main-color);
}

/* Home Section */
.home {
  padding: 150px 12% 100px;
  width: 100%;
  min-height: 100vh;
  background: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  gap: 7em;
}
.home .content {
  max-width: 800px;
}
.home-content h3 {
  font-size: 42px;
}
.home-content h1 {
  font-size: 62px;
  line-height: 1.2;
}
.home-content p {
  font-size: 20px;
  margin: 25px 0 30px;
}

.btn-box {
  width: 345px;
  display: flex;
  gap: 2em;
}

.btn-1 {
  padding: 15px 28px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.5s ease;
  cursor: pointer;
}
.btn-1:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: 0.5s ease;
}
.btn-2 {
  padding: 15px 28px;
  background-color: orangered;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.5s ease;
  cursor: pointer;
}
.btn-2:hover {
  background-color: white;
  color: orangered;
  border: 2px solid black;
}

.img-box img {
  width: 220px;
  border-radius: 50%;
  border: none;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: orangered;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.6);
  width: 50px;
}

/* About Section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: var(--second-bg-color);
  padding: 100px 12%;
  color: white;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12% 8%;
  gap: 10em;
  background: black;
}
.about-img img {
  position: relative;
  width: 220px;
  box-shadow:
    0 0 25px orangered,
    0 0 50px orangered;
  border-radius: 50%;
}
.about-content h2 {
  text-align: left;
  color: white;
  font-size: 42px;
}
.about-content h3 {
  font-size: 62px;
  color: white;
}
.about-content p {
  color: white;
  font-size: 20px;
  justify-content: center;
  margin: 25px 0 3em;
}

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.918);
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer .social a {
  font-size: 24px;
  color: white;
  border: 2px solid orangered;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  box-shadow:
    inset 0 0 10px orangered,
    0 0 10px orangered;
  transition: 0.5s ease;
}
.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  color: orangered;
  border: 2px solid orangered;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.5s ease;
}
.footer ul li a:hover {
  border-bottom: 3px solid orangered;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer .copyright {
  text-align: center;
  color: white;
  margin-top: 15px;
  font-size: 16px;
}

/* Responsive Media Queries */
@media (max-width: 1200px) {
  .header {
    padding: 20px 5%;
  }
  section {
    padding: 100px 5%;
  }
}

@media (max-width: 991px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: rgba(0, 0, 0, 0.9);
    border-top: 1px solid var(--main-color);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 20px;
    margin: 30px 0;
    margin-left: 0;
    text-align: center;
  }

  .home {
    flex-direction: column-reverse;
    text-align: center;
    gap: 2rem;
  }
  .home-content h1 {
    font-size: 45px;
  }
  .img-box img {
    width: 150px;
  }
  .about {
    flex-direction: column;
    text-align: center;
  }
  .about-img img {
    width: 150px;
  }
}

@media (max-width: 450px) {
  .home-content h1 {
    font-size: 32px;
  }
  .btn-box {
    flex-direction: column;
    width: 100%;
  }
}
